.BorderStyle p {
    margin: 10px;
    padding: 10px;
    width: 400px;
    text-align: center;
}

p.Border1 {
    border-color: #2e2e2e;
    border-image: repeat;
    border-image-slice: 20;
    border-image-source: url(../../images/Borders/border1.webp);
    border-style: solid;
    border-width: 17px;
}

p.Border2 {
    border-color: #2e2e2e;
    border-image: repeat;
    border-image-slice: 14;
    border-image-source: url(../../images/Borders/border2.webp);
    border-style: solid;
    border-width: 17px;
}

p.Border3 {
    border-color: #2e2e2e;
    border-image: repeat;
    border-image-slice: 30;
    border-image-source: url(../../images/Borders/border3.webp);
    border-style: solid;
    border-width: 17px;
}

p.Border4 {
    border-color: #2e2e2e;
    border-image: repeat;
    border-image-slice: 120;
    border-image-source: url(../../images/Borders/border4.webp);
    border-style: solid;
    border-width: 67px;
}

p.Border14 {
    border-color: #2e2e2e;
    border-image: repeat;
    border-image-slice: 16-0;
    border-image-source: url(../../images/Borders/border10.png);
    border-style: solid;
    border-width: 67px;
}

p.Border15 {
    border-color: #2e2e2e;
    border-image: repeat;
    border-image-slice: 120;
    border-image-source: url(../../images/Borders/border11.png);
    border-style: solid;
    border-width: 67px;
}

p.Border16 {
    border-color: #2e2e2e;
    border-image: repeat;
    border-image-slice: 120;
    border-image-source: url(../../images/Borders/border11-1.png);
    border-style: solid;
    border-width: 67px;
}

p.Border17 {
    border-color: #2e2e2e;
    border-image: repeat;
    border-image-slice: 120;
    border-image-source: url(../../images/Borders/border10-1.png);
    border-style: solid;
    border-width: 67px;
}

p.Border5 {
    border-style: dotted;
}

p.Border6 {
    border-style: dashed;
}

p.Border7 {
    border-style: solid;
}

p.Border8 {
    border-style: double;
}

p.Border9 {
    border-style: groove;
}

p.Border10 {
    border-style: ridge;
}

p.Border11 {
    border-style: inset;
}

p.Border12 {
    border-style: outset;
}

p.Border13 {
    border-style: dotted dashed solid double;
}