.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* border: 2px solid white; */
}

.imagen-thumbnail {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  cursor: pointer;
  user-select: none;
}

.imagen-thumbnail:hover {
  transform: scale(1.1);
}

.BorderRedm {
  border-color: #2e2e2e;
  border-image: repeat;
  border-image-slice: 20;
  border-style: solid;
  border-width: 20px;
  border-image-source: url(../../images/Borders/border1-3.webp);
}

.BorderFivem {
  border-color: #2e2e2e;
  border-image: repeat;
  border-image-slice: 20;
  border-style: solid;
  border-width: 20px;
  border-image-source: url(../../images/Borders/border1-2.webp);
}

.BorderFortnite {
  border-color: #2e2e2e;
  border-image: repeat;
  border-image-slice: 20;
  border-style: solid;
  border-width: 20px;
  border-image-source: url(../../images/Borders/border1.webp);
}

.BorderSeaOfThieves {
  border-color: #2e2e2e;
  border-image: repeat;
  border-image-slice: 30;
  border-style: solid;
  border-width: 15px;
  border-image-source: url(../../images/Borders/border8.webp);
}

.BorderMinecraft {
  border-color: #2e2e2e;
  border-image: repeat;
  border-image-slice: 25;
  border-style: solid;
  border-width: 25px;
  border-image-source: url(../../images/Borders/border5.webp);
}

.BorderOtros {
  border-color: #2e2e2e;
  border-image: repeat;
  border-image-slice: 20;
  border-style: solid;
  border-width: 20px;
  border-image-source: url(../../images/Borders/border2.webp);
}

.imagen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.imagen-overlay.mostrar {
  position: fixed;
  display: flex;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0s linear 0s;
  /* border: 1px solid red; */
}

.BotonesDeImagen {
  z-index: 2000;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  height: auto;
  /* border: 2px solid yellow; */
}

.imagen-completa {
  max-width: 95%;
  max-height: 95%;
  user-select: none;
}

.imagen-overlay.mostrar .imagen-completa {
  transform: scale(1);
}

.icono-cerrar {
  color: white;
  font-size: 3rem;
  cursor: pointer;
  /* border: 2px solid red; */
}

.boton-anterior {
  color: white;
  font-size: 3rem;
  cursor: pointer;
  /* border: 2px solid yellow; */
}

.boton-siguiente {
  color: white;
  font-size: 3rem;
  cursor: pointer;
  /* border: 2px solid blue; */
}

.icono-cerrar,
.boton-anterior,
.boton-siguiente {
  transition: 0.2s ease-in-out;
}

.icono-cerrar:hover,
.boton-anterior:hover,
.boton-siguiente:hover {
  transform: scale(0.95) rotate(-10deg);
  color: rgb(221, 221, 221);
}