.GaleriaSeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #181C1F;
    /* border: solid red 2px; */
}

.BannerGaleria {
    width: 100%;
    height: 300px;
    background-image: url(../../images/ReactPages/bannergaleria.png);
    background-position: center center;
    background-size: cover;
    /* border: 2px solid red; */
}

.GaleriaSeccionInterior {
    display: flex;
    width: 100%;
    /* border: solid rgb(255, 102, 0) 2px; */
}

.GaleriaTitulo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    width: 80%;
    /* border: solid rgb(4, 0, 255) 2px; */
}

.GaleriaInfoLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 450px;
    padding-right: 400px;
    padding-top: 50px;
    padding-bottom: 50px; */
    width: 100%;
    color: white;
    /* border: solid rgb(4, 0, 255) 2px; */
}

.GaleriaAncho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: solid 2px #374151;
    /* border: solid rgb(255, 102, 0) 2px; */
}

.MenuDerecha {
    display: flex;
    justify-content: center;
    width: 10%;
    /* border: solid rgb(0, 217, 255) 2px; */
}

.IndexMenuDerecha {
    position: sticky;
    top: 170px;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 600px;
    /* border: solid rgb(255, 0, 212) 2px; */
}

.IndexMenuDerecha p{
    font-size: 12px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 3px;
    cursor: default;
    border-bottom: solid 2px #374151;
}

.IndexMenuDerecha a{
    display: flex;
    align-items: center;
    font-size: 11px;
    padding-left: 15px;
    height: 30px;
    cursor: pointer;
}

.IndexMenuDerecha a:hover{
    background-color: #2D323A;
}
