* {
    padding: 0px;
    margin: 0px;
}

.Padre {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-size: 90px;
    background-color: red;
}

.HermanoMayor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: aqua;
}

.HermanoMetiche {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    background-color: yellow;
}

.HermanoMetiche img {
    max-width: 180px;
    min-height: 30%;
    width: 100%;
}

.HermanoMayorSegundo {
    width: 50%;
    background-color: aquamarine;
    color: blue;
}

.HermanoMayorSegundo p {
    color: aliceblue;
    transition: 0.5s;
    font-size: 1vh;
}

.HermanoMayorSegundo p:hover{
    color: red;
}

.HermanoMayorSegundo a {
    color: yellow;
}

@media screen and (max-width: 1024px) {
    .Padre {
        width: 80%;
        height: 90vh;
        font-size: 20px;
    }
    .HermanoMetiche img {
        max-width: 180px;
        min-height: 80px;
        width: 100%;
    }
}
