.GaleriaSearch {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.GaleriaEtiquetas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 35px;
    padding-left: 4%;
    /* border: 1px solid yellow; */
}

.GaleriaEtiquetas span {
    background-color: #2f3035;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10PX;
    border-radius: 10px;
    font-size: 0.7rem;
    font-weight: 700;
    color: white;
    cursor: default;
}

.GaleriaSearchImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.noexpanded {
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.1s;
    cursor: pointer;
    /* border: 1px solid yellow; */
}

.noexpanded:hover {
    transform: scale(1.02);
}

.ImageExpandSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92%;
    overflow: hidden;
}

.ImageExpandSection img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.expanded {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 95%;
    /* border: 1px solid red; */
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fondooscuroclaro);
    border-radius: 10px;
    width: 310px;
    height: 320px;
}

.image-container.expanded {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(255, 0, 0, 0);
    width: 70%;
    height: 100%;
    /* border: 1px solid yellow; */
}

.file-info {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
    margin-bottom: 5px;
    /* border: 1px solid yellow; */
}

.file-info.expandedJustify {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 5px;
}

.file-name {
    font-size: 0.7rem;
    font-weight: 700;
    color: white;
    cursor: default;
    text-transform: uppercase;
}

.file-name.expandedInfo {
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    cursor: default;
    background-color: #2f3035;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}